<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="mesas">
        <img src="https://img.icons8.com/ios-glyphs/30/000000/table.png">
      <ion-label>Mesas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="pedidos">
      <!-- <ion-icon name="apps"></ion-icon> -->
      <img src="https://img.icons8.com/ios-glyphs/30/000000/plus.png">
      <ion-label>Pedido</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cardapio">
        <img src="https://img.icons8.com/ios-glyphs/30/000000/bookmark.png">
      <ion-label>Cardapio</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
